* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Arial;
}

body {
	display: flex;
	flex-direction: column;
	background-color: hsl(0, 0%, 10%);
	height: 100vh;
}

a {
	text-decoration: none;
}



/* Navbar */

#nav {
	height: 50px;
	width: 100%;
	padding: 0px;
	background-color: hsl(0, 0%, 96%);
	display: flex;
	position: fixed;
	top: 0;
	z-index: 1;
}

#nav a {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 8px 10px;
	align-items: center;
	color: hsl(0, 0%, 10%);
	font-weight: bold;
	font-size: 18px;
}

#nav a:visited {
	color: hsl(0, 0%, 10%);
	text-decoration: none;
}

#nav a:hover {
	background-color: hsl(0, 0%, 80%);
}

#logo-container {
	display: flex;
	align-items: center;
}

#logo-container:hover {
	background-color: hsl(0, 0%, 96%) !important;
}

#logo {
	height: 100%;
	width: auto;
}



/* Main */

#main {
	flex: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	background-image: url("../assets/imgs/contour-bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: auto;
}



/* Footer */
#footer {
	display: flex;
	flex: 0 0 auto;
	width: 100%;
	height: 100px;
	background-color: hsl(0, 0%, 10%);
}
